/***************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: kmodipa <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2017/10/02 17:26:09 by kmodipa           #+#    #+#              #
#    Updated: 2017/10/02 17:26:11 by kmodipa          ###   ########.fr        #
#                                                                              #
# **************************************************************************** */

body
{
	background-color: #505050;
}

#header 
{
	position: absolute;
	top: 2%;  /*vertical shift*/
	left: 13%; /*horizontal shift*/
	width: 73%;
	height: 12%;
	background-color: #909090;
	border-radius: 15px;  /*Rounded coners*/
	box-shadow: 10px 10px 10px rgba(0,0,0,4);
	padding: 10px
}

#head_img
{
	width:30%;
	height:100%;
}

#middle
{
	position: absolute;
	top: 18%;  /*vertical shift*/
	left: 24.5%; /*horizontal shift*/
	width: 50%;
	height: 60%;
	background-color: #909090;
	border-radius: 15px;  /*Rounded coners*/
	box-shadow: 10px 10px 10px rgba(0,0,0,4);
	padding: 10px
}

#middle_img
{
	height: 100%;
	width: 100%;
}


#left
{
	position: absolute;
	top: 18%;  /*vertical shift*/
	left: 15%; /*horizontal shift*/
	width: 7%;
	height: 40%;
	background-color: #909090;
	border-radius: 15px;  /*Rounded coners*/
	box-shadow: 10px 10px 10px rgba(0,0,0,4);
	padding: 10px
}

#right
{
	position: absolute;
	top: 18%;  /*vertical shift*/
	left: 77%; /*horizontal shift*/
	width: 7%;
	height: 40%;
	background-color: #909090;
	border-radius: 15px;  /*Rounded coners*/
	box-shadow: 10px 10px 10px rgba(0,0,0,4);
	padding: 10px
}

#bottom_right
{
	position: absolute;
	top: 72%;  /*vertical shift*/
	left: 9%; /*horizontal shift*/
	width: 27%;
	height: 16%;
	background-color: #81EE74;
	border-radius: 15px;  /*Rounded coners*/
	box-shadow: 10px 10px 10px rgba(0,0,0,4);
	padding: 10px
}

#microscope
{
	position: absolute;
	width:18%;
	height:100%;
	left: 80%;
	top: 15%;
}

#reload
{
	position: absolute;
	width: 1.5%;
	height:18%;
	left: 97.5%;
}

#cancel
{
	position: absolute;
	width:1.5%;
	height:18%;
	left: 97.5%;
	top: 76%;
}
	/*left: 97.5%;*/
	/*top: 76%;*/
#advance
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
}

#take
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 21%;
}

#look
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 40%;
}

#use
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 59%;
}

#speak
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 78%;
}

#book
{
	position: absolute;
	width:50%;
	height:25%;
	left: 25%;
	top: 5%;
}

#towel
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 33%;
}

#wall
{
	position: absolute;
	width:50%;
	height:18%;
	left: 25%;
	top: 53%;
}

/*----- Bottom Right Section -----*/
.paragraph
{
	position: absolute;
	top: -5%;
	color: black;
	width: 80%;
	height: 20%;
	font: 1em sans-serif;
}
#entrez
{
	font:2em Georgia, serif;
}
#shadow
{
	text-shadow: 0.4em 0.3em 0.5em red;
}
#text_box
{
	position: absolute;
	top: 50%;
	left: 3%;
	width: 63.5%;
	background-color: white;
}
.button_div
{
	position: absolute;
	top: 50%;
	right: 19%;
}
#button_act
{
	background-color: #efefef;
}

#chair
{
	position: absolute;
	top: 55%;
	right: 52%;
	height: 7%;
	width: 7%;
}

#screen
{
	position: absolute;
	top: 55%;
	right: 27%;
	height: 7%;
	width: 7%;
}
